#cookie-popup {
  font-family: "Source Code Pro", monospace;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2; /* lighter background color */
  color: #000; /* black text */
  padding: 2rem;
  text-align: center;
  font-size: 1.25rem;
  max-width: 100%;
  height: auto;
  z-index: 9999;
}

#cookie-popup a {
  color: #000; /* black link text */
}

#cookie-popup a:hover {
  color: #f2f2f2; /* lighter link text on hover */
  text-decoration: underline;
}

#accept-cookies {
  font-family: "Source Code Pro", monospace;
  background-color: #fff;
  color: #000; /* black button text */
  border: none;
  padding: 5px 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

#accept-cookies:hover {
  background-color: #f2f2f2; /* lighter button background on hover */
  color: #000; /* black button text on hover */
  transition: 0.4s;
}
